.texto-grueso {
    font-weight: bold;
    font-size: 3em;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

